* {
  box-sizing: border-box;
}

html {
  font-family: Montserrat;
}

a {
  text-decoration: none;
  color: #ffff;
}

body {
}

header {
  /*font and position*/
  background-color: #000000;
  height: 3rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 800;
  font-size: 0.6rem;

  /*flex*/
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header a {
  font-size: 1.25rem;
  font-weight: 800;
}

.logo {
  border: 2px solid #fff;
  border-radius: 100%;
  padding: 0.2rem;
}

main {
  background-image: url(./images/background_light1.png);
  padding: 4rem;
  min-height: calc(100vh - 6rem);
  width: auto;
}

.bgbox {
  max-width: 70vw;
  background-color: #000000;
  color: #fff;
  padding: 2rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 3rem auto auto;
}

.header {
  margin: 2rem auto;
  text-align: center;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 5.12px;
}

.header h1 {
  font-weight: 800;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: transparent;
  flex-wrap: wrap;
}

image {
}

.card1,
.card2,
.card3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #fff;
  text-align: center;
  max-width: 19rem;

  height: 27rem;
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: 0.96px;
}

/* Text */
.card1 h2,
.card2 h2,
.card3 h2 {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 5px;
  margin-bottom: 0.4rem;
  text-transform: capitalize;
  padding: auto 1rem;
}

.pavadinimas {
  margin: 1.5rem auto;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.96px;
}

hr {
  width: 3rem;
  font-weight: bolder;
}

h3 {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.6px;
  text-transform: capitalize;
}

p {
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 500;
  line-height: 25px; /* 138.889% */
  letter-spacing: 0.54px;
  margin-bottom: 2rem;
  padding: 1rem;
}

.readme {
  font-size: 1rem;
  letter-spacing: 1.52px;
  color: #9661e8;
  padding: 0.5rem;
  font-weight: 800;
  border: 1px solid transparent;
  background-color: transparent;
}

.readme:hover {
  border: 3px solid #9661e8;
  background-color: transparent;
}

.readme:active {
  background: #ff6978;
  color: white;
  border-color: transparent;
  border-radius: 1rem;
}

footer {
  background-color: #000000;
  width: 100%;
  height: 3rem;
  color: #fff;
  text-align: center;
  position: relative;
  padding: 1rem 2rem;
  bottom: 0;
}
