body {
  background-color: #e2e1e1;
}
* {
  box-sizing: border-box;
}

.main {
  display: inline-flex;
  padding: 90px 115px 137px 136px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.card {
  width: 276px;
  height: 345px;
  background-color: white;
  border-radius: 12px 12px 12px 12px;
  display: block;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 2px 4px 0px rgba(96, 97, 112, 0.16),
    0px 0px 1px 0px rgba(40, 41, 61, 0.04);
}

img {
  width: 276px;
  height: 176px;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
  position: relative;
  margin-bottom: 32px;
}

.date {
  padding: 8px;
  bottom: 42%;
  right: 5%;
  background-color: white;
  position: absolute;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0px 2px 4px 0px rgba(96, 97, 112, 0.16),
    0px 0px 1px 0px rgba(40, 41, 61, 0.04);
}

.description {
  margin: auto 16px;
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

h2 {
  font-size: 12px;
}

h3 {
  color: #959393;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
  letter-spacing: 0.2px;
}

p {
  font-feature-settings: "clig" off, "liga" off;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 120% */
  font-family: inter;
  margin-right: 16px;
}

.btns span {
  margin-right: 2px;
  margin-top: 16px;
  display: inline-block;
  border: 1px solid #959393;
  border-radius: 70%;
  padding: 0.2rem;
}

.btns span:hover {
  background-color: #ddd;
}
.btns span:hover svg {
  fill: white;
}

.btns span:active {
  background-color: #999;
}
.btns span:active svg {
  fill: #ccc;
}

.glowing_card {
  border-radius: 17px;
  border: 3px solid #3e7fe1;
  box-shadow: 8px 13px 23px 9px rgba(62, 127, 225, 0.3);
}
