* {
  font-family: Inter;
  font-style: normal;
}
body {
  background-color: #e2e1e1;
}

.main {
  text-align: center;
  margin-top: 5rem;
}

h1 {
  font-size: 128px;
  font-weight: 700;
  line-height: 100%;
  position: relative;
}
h2 {
  color: #959393;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 110% */
  letter-spacing: 0.2px;
  position: relative;
  top: 1.5rem;
}

p {
  position: relative;
  font-size: 20px;
  font-weight: 400;
  line-height: 22px; /* 110% */
  letter-spacing: 0.2px;
  top: -3rem;
}

svg {
  position: relative;
  top: -2.5rem;
  left: 12rem;
}
