* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: Bebas Neue;
}

.mainPage {
  background-image: radial-gradient(
      189.96% 61.18% at 50% 38.82%,
      rgba(255, 181, 72, 0) 0%,
      rgba(52, 44, 29, 0.8) 73.22%,
      #08090a 99.74%
    ),
    url(./src/GroupBackground.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  width: 100%;
  height: 100vh;
  /* font decoration */
  font-family: open sans-serif;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 4rem;
}

.logo {
  width: 5rem;
  height: auto;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 4rem;
}

.footer a {
  color: white;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}

.navRight {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navRight h3 {
  color: white;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}

.middleText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.middleText h1 {
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: white;
  text-align: center;
}

.middleText h2 {
  font-family: Bebas Neue;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  color: white;
  text-align: center;
}
.middleText button {
  border-radius: 4px;
  border: none;
  background: linear-gradient(195deg, #ffb548 11.27%, #f3af34 90.4%);
  color: #1a1917;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  padding: 1.25rem;
}

.scroll {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 2rem;
  gap: 0.5rem;
}

.scroll h3 {
  color: white;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}

.secondPage {
  background-image: linear-gradient(
      0deg,
      rgba(9, 10, 12, 0.9) 0%,
      rgba(9, 10, 12, 0.9) 100%
    ),
    radial-gradient(
      136.03% 54.57% at 50% 48.04%,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0) 60.63%,
      #080a0b 99.74%
    ),
    url(./src/SecondBackground.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  font-family: Bebas Neue;
}

.pageContainer {
  padding: 10%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}

.secondPageText {
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
}

.headerText {
  justify-self: left;
}
/* .headerText > hr {
  width: 30rem;
  position: absolute;
  left: 50%;
  top: 50%;
} */

.parText {
  text-align: justify;
  font-family: Open San;
  justify-self: right;
  text-align: right;
  padding-left: 3rem;
  width: 20rem;
}

.switchImages img {
  width: 20rem;
  height: 35em;
  object-fit: cover;
  /* object-position: center; */
  object-position: 50% 0;
  border-radius: 16px;
}

/* .switchImages > * {
  left: 60%;
  top: 30%;
}

.switchImages :nth-child(1) {
  scale: 1;
  z-index: 3;
}

.switchImages :nth-child(2) {
  left: 62%;
  top: 30%;
  scale: 0.9;
  z-index: 2;
}
.switchImages :nth-child(3) {
  left: 64%;
  top: 30%;
  scale: 0.8;
  z-index: 1;
} */

.secondPageText h3 {
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 2px;
}

.secondPageText h1 {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.thirdPage {
  background-image: radial-gradient(
      65.66% 45.64% at 73.36% 50.9%,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0) 19.2%,
      rgba(4, 5, 6, 0.52) 47.48%,
      #080a0b 99.74%
    ),
    url(./src/ThirdBackground.jpg);
  background-position: center;
  background-size: cover;

  width: 100%;
  height: 100vh;
  transform: scaleX(-1);
}

.fourthPage {
  background: radial-gradient(
      50.92% 48.95% at 70.14% 64.4%,
      rgba(255, 255, 255, 0) 3.36%,
      rgba(0, 0, 0, 0) 19.22%,
      #080a0b 99.74%
    ),
    url(./src/FourthBackground.png),
    lightgray -440.272px 0px / 165.462% 133.24% no-repeat;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  width: 100%;
  height: 100vh;
}

.fourthPage h1,
h2 {
  color: white;
}
