* {
  box-sizing: border-box;
}

body {
  background-color: #d4f1e6;
  width: 100vw;
}

main {
  width: 780px;
  position: relative;
  left: calc((100vw - 780px) / 2);
}

h1 {
  color: black;
  font-weight: 800;
  font-size: 60px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 2rem auto;
  padding: 2rem;
}

.mainBlock {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 4rem auto;
}

img:hover {
  transform: scale(1.3);
}

.mainBlock img {
  height: 20rem;
  width: auto;
  border-radius: 1.5rem;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: transform 0.1s; /* Animation */
}

.mainBlock img:nth-child(5) {
  box-shadow: none;
}

.mainBlock img:nth-child(3) {
  width: 480px;
}

.textBlock {
  height: auto;
  background-color: white;
  padding: 2rem;
  border-radius: 1.5rem;
  margin: auto;
  display: flex;
  justify-content: center;
  align-content: stretch;
  gap: 2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.par h2 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.par p {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
}

.textBlock img {
  object-fit: cover;
  height: auto;
  width: 10rem;
}
